.itemContainer{
    background: white;
    padding: 16px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.itemCollapse{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.authorAvatar{

}

.itemContent{

}

.comment{
    font-size: 1.8rem;
    color: black;
}
.alignRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cursor{
    cursor: pointer;
}


.marginView{

}

.itemRate{
    margin-top: 16px;
}

.itemDeleteAndBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.commentUser{
    font-size: 1.6rem;
    color: black;
}
.commentText{
    margin-top: 6px;
    color: black;
    font-size: 1.6rem;
}
.commentDate{
    margin-top: 6px;
    color: grey;
    font-size: 1.4rem;
}
