.navBarContainer{
    width: 96px;
    padding: 0 8px;
    position: absolute;
    left: 0;
    top:66px;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*border-right: 1px solid black;*/
    /*background: blue;*/
}

.navBarContainerWhenScroll{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0 !important;
}

.itemContainer{
    align-items: center;
    justify-content: center;
    background: white;
    padding: 10px 0;
    width: 72px;
    cursor: pointer;
    margin: 16px 0;
}

.itemContainerSelected{
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 72px;
    background: #e8ebed !important;
    border-radius: 12px;
    margin: 16px 0;
}

.icon{
    font-size: 2.5rem;
    text-align: center;
}
.title{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 8px;
}
