.headerContainer {
    width: 100%;
    height: 66px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 28px;
    background: white;
    justify-content: space-between;
    border-bottom: 1px solid #e8ebed;
}
