.itemContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.marginView{
    margin-top: 20px !important;
}

.itemImage{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 10px;
}

.itemContent{
    /*background: #1976d2;*/
    flex-grow: 1;
}

.itemTitle{
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.itemDetail{
    font-size: 1.6rem;
    color: #666666;
    word-break: break-word;
}

.alignRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.itemRate{

}

.itemViewAndEdit{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}
.itemViewAndEdit > div {
    margin-right: 15px;
    font-size: 25px;
    cursor: pointer;
}
.itemViewAndEdit > div:focus {
    background: whitesmoke;
    padding: 4px;
}
