
.body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.alignRow{
    display: flex;
    flex-direction: row;
    margin: 15px 20px 0 20px;
}

.spaceBetween{
    justify-content: space-between;
    align-items: center;
}

.listContainerGrid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    align-items: flex-start;
    column-gap: 30px;
    row-gap: 30px;
    padding: 20px;
    position: relative;
}

.listTitle{
    font-size: 2.4rem;
    color: black;
}
/*.listTitle {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    background: orangered;*/
/*}*/

.headerContainer {
    width: 100%;
    height: 66px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 32px;
    background: white;
    border-bottom: 1px solid lightgrey;
    justify-content: space-between;
}

.labelDropDown {
    font-size: 2.0rem;
}
#logo_header{
    display: flex;
    flex-direction: column;
}
#img_logo{
    margin: 0;
}
#branch_logo{
    margin: 0;
}
