.itemContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
    background: #f5f5f3;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}
.deletedCmt{
    border: 1px solid crimson;
    opacity: 0.6;
}

.image{
    width: 60px;
    height: 60px;
    border-radius: 40px;
    margin-right: 20px;
}
.name{
    font-size: 1.8rem;
    color: black;
}

.content{
    font-size: 1.6rem;
    color: black;
    margin-top: 8px;
}

.createdAt{
    font-size: 1.4rem;
    color: darkgray;
    margin-top: 6px;
}

.report{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
.deletedCmtTextWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.deletedCmtText{
    color: crimson;
    font-style: italic;
    font-size: 1.4rem;
}
